---
---

@charset "utf-8";

// Our variables
$base-font-family: monospace;
$base-font-size: 15px;
$base-font-weight: 200;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$nav-bg: #222;
$nav-col: #eee;
$text-color: $nav-bg;
$background-color: $nav-col;
$brand-color: #ff6000;
$border: 3px solid $brand-color;

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "syntax-highlighting";
