---
layout: main
permalink: /404.html
---

<h1>404 - page not found</h1>

<p>
  If you didn't come on purpose I apologise, but the page you are searching
  doesn't exist. If you came on purpose enjoy this minimal <code>gif</code> of a
  dancing Rick Astley.
</p>

<p>
  <img
    class="block-center"
    src="{{ '/astley.gif' | prepend:site.baseurl | prepend:site.url }}"
    alt="Rick Astley gif"
  />
</p>

<p>
  Thanks to <a href="https://github.com/Giorgio-Croci">Giorgio Croci </a> for
  the <code>gif</code>!
</p>
