---
layout: page
title: Blog
permalink: /blog/
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <span class="post-meta"> {{ post.date | date: "%b %-d, %Y" }}</span>
      <h4>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}</a
        >
      </h4>
    </li>
    {% endfor %}
  </ul>
</div>
