---
layout: main
---

<div class="homequote">
  <figure>
    <img
      width="300"
      height="460"
      src="images/claudio.jpg"
      alt="Me eating
                raclette"
    />
  </figure>
  <div class="quote">
    <p>
      I once read a Linus Torvalds quote comparing computer science to physics,
      stating that
    </p>

    <blockquote>
      <cite
        >[...] in physics you're supposed to figure out how the world is made
        up, in computer science you create the world.</cite
      >
    </blockquote>
    <p>
      Hello, my name is Claudio Maggioni, and I have been a passionate "world
      builder" for 7 years.
    </p>
    <p>
      Since when I began high school, I meddled with software development,
      developing a creative mindset and an interest in problem solving. Since
      then, I have always been at least in part a self-taught student of
      computer science, satisfying my curiosity for topics that were not covered
      in general school curriculum.
    </p>
    <p>
      My expertise includes web development, mobile application development of
      multiplatform applications, a passion for functional programming, and
      DevOps skills for Linux systems.
    </p>
    <p>
      Reaching the end of my undergraduate studies in computer science, I am
      currently seeking job opportunities to follow at the end of my studies,
      eager to apply my skills in a corporate setting.
    </p>
  </div>
</div>
<div class="home">
  <section>
    <h2>Self-hosted services</h2>
    <p>Listed below are some websites served by this server:</p>
    <ul>
      <li>
        <a href="https://git.maggioni.xyz">Gitea</a>, a private Git HTTP
        frontend;
      </li>
      <li>
        <a href="https://cloud.maggioni.xyz"><code>maggioni.xyz</code> cloud</a
        >, a private <em>Nextcloud</em> instance;
      </li>
    </ul>
  </section>
</div>
{% comment %} vim: set ts=2 sw=2 et tw=80: {% endcomment %}
