---
layout: page
title: Portfolio
permalink: /portfolio/
---

{% assign ps = site.portfolio | sort:"date-start" %}

<div class="portfolio">
  <div class="line"></div>
  <div class="line-end"></div>
  <div class="line-end-bottom"></div>
  {% for p in ps reversed %}
  <section class="port-elem">
    <div class="side">
      <div class="date">{{ p.date-start }} to {{ p.date-end }}</div>
      <div class="category {{ p.category }}">
        {% case p.category %} {% when 'usi' %}University project {% when
        'high-school' %}High school project {% when 'internship' %}Internship {%
        when 'personal' %}Personal project {% endcase %}
      </div>
      <div class="languages">{{ p.languages }}</div>
    </div>
    <div class="description">
      <div class="images">
        {% for img in p.images %}
        <a target="_blank" href="/images/portfolio/{{ img }}">
          <img src="/images/portfolio/{{ img }}" alt="{{ img }}"
        /></a>

        {% endfor %}
      </div>
      <h2><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></h2>
      {{ p.description }}
    </div>
  </section>
  {% endfor %}
</div>

{% comment %} vim: set ts=2 sw=2 et tw=80: {% endcomment %}
