<footer class="site-footer">
  <div class="container">
    <div class="icons">
      <a target="_blank" class="icon" href="https://tea.maggioni.xyz/maggicl">
        <i class="fab fa-git"></i
      ></a>
      <a target="_blank" class="icon" href="https://github.com/maggicl">
        <i class="fab fa-github"></i
      ></a>
      <a target="_blank" class="icon" href="https://gitlab.com/maggicl">
        <i class="fab fa-gitlab"></i
      ></a>
      <a
        target="_blank"
        class="icon"
        href="https://www.linkedin.com/in/claudio-maggioni/"
      >
        <i class="fab fa-linkedin"></i
      ></a>
    </div>
    <div class="author">
      <i class="fas fa-cc" aria-hidden="true"></i>
      by Claudio Maggioni (last updated on {{ site.time | date: '%Y-%m-%d'
      }})<br />
      Content under
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
        CC BY-NC-SA 4.0</a
      >
    </div>
  </div>
</footer>
{% comment %} vim: set ts=2 sw=2 et tw=80: {% endcomment %}
