<div class="links">
  {% for my_page in site.pages %} {% if my_page.title %}
  <a href="{{ my_page.url }}">{{ my_page.title }}</a>
  {% endif %} {% endfor %}
  <a href="/feed.xml">RSS</a>
  <a href="/cv.pdf">CV</a>
  <a href="https://git.maggioni.xyz">Git</a>
  <a href="https://cloud.maggioni.xyz">Cloud</a>
</div>
{% comment %} vim: set ts=2 sw=2 et tw=80: {% endcomment %}
