<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <header class="header">
      <nav class="head navbar container">
        <h1 class="title container"><a href="/">{{ site.title }}</a></h1>
        {% include header.html %}
      </nav>
    </header>
    <main class="container">{{ content }}</main>
    {% include footer.html %}
  </body>
</html>

{% comment %} vim: set ts=2 sw=2 et tw=80: {% endcomment %}
