---
layout: main
---

<div class="portfolio">
  <section class="port-elem">
    <div class="side">
      <div class="date">{{ page.date-start }} to {{ page.date-end }}</div>
      <div class="category {{ page.category }}">
        {% case page.category %} {% when 'usi' %}University project {% when
        'high-school' %}High school project {% when 'internship' %}Internship {%
        when 'personal' %}Personal project {% endcase %}
      </div>
      <div class="languages">{{ page.languages }}</div>
      <div class="authors">
        <h4>Authors:</h4>
        <ul>
          <li>Claudio Maggioni</li>
          {% for author in page.authors %}
          <li>{{ author }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="repo">
        <a target="_blank" href="{{ page.repo-url }}">
          <i class="fab fa-{{ page.repo-type }}"></i> {{ page.title }}</a
        >
      </div>
    </div>
    <div class="description">
      <div class="images">
        {% for img in page.images %}
        <a target="_blank" href="/images/portfolio/{{ img }}">
          <img src="/images/portfolio/{{ img }}"
        /></a>

        {% endfor %}
      </div>
      <h2>{{ page.title }}</h2>
      <h3>{{ page.description }}</h3>
      {{ content }}
    </div>
  </section>
</div>
