---
layout: main
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
    <h4 class="post-meta">
      <time
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
        >{{ page.date | date: "%b %-d, %Y" }}</time
      >{% if page.author %} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"
        ><span itemprop="name">{{ page.author }}</span></span
      >{% endif %}
    </h4>
  </header>

  <div class="post-content" itemprop="articleBody">{{ content }}</div>
</article>
